    * 
    {
        box-sizing: border-box;
    }
    
    p.error
    {
        color: red;
        font-weight: bold;
        font-size: 1.5em;
    }

    body
    {
        font-family: Times New Roman;
        font-size: 1em;
        font-weight: normal;
    }

    /* BEGIN COMMON */        
    a
    {
        color: blue;
        text-decoration: none;
    }

    a:active
    {
        color: lightblue;
    }

    a:hover
    {
        color: navy;
        text-decoration: underline;
    }

    a:visited
    {
        color: purple;
    }
    /* END COMMON */            

    /* BEGIN PARTS */  
    
    #organisationName
    {
        display: block;
        padding: .5em 8em 0.5em .5em;
        overflow: hidden;
        white-space: nowrap;
        font-family: Verdana, Arial;
    }
    /* END PARTS */

    /* BEGIN MAIN LAYOUT */
    #container
    {
        display: table;
    }

    #center
    {
        display: table-cell;
        vertical-align: top;
        max-width: 45em;        
    }

    #footer
    {
        display: block;
    }
    /* END MAIN LAYOUT */

    #left-bar nav
    {
        padding: .75em 1em 5em 2em;
        background: lightblue; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(lightblue, white); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(lightblue, white); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(lightblue, white); /* For Firefox 3.6 to 15 */
        background: linear-gradient(lightblue, white); /* Standard syntax */
    }

    nav
    {
        list-style: none;
    }

    nav a
    {
        display: list-item;
        margin: 0em .5em .5em 0em;        
        color: navy;
        font-family: Verdana, Arial;
        font-size: 1.0em;
        font-weight: bold;
        text-decoration: none;
    }

    nav a:active
    {
        color: lightblue;
    }

    nav a:hover
    {
        color: blue;
        text-decoration: underline;
    }

    nav a:hover:visited
    {
        color: blue;
    }

    nav a:visited
    {
        color: navy;
    }

    .active-nav-item
    {
        list-style: disc;
        color: yellow;
    }

    .active-nav-item:visited
    {
        color: yellow;
    }
    /* END NAV */

    /* BEGIN MAIN */
    #center main
    {
        padding: 1em 1.5em 1em 1.5em;
    }

    main h1
    {
        font-family: Verdana, Arial;
        font-size: 1.1em;
        font-weight: bold;
    }

    main p
    {
        text-indent: 2em;
        text-align: justify;
        font-family: Times New Roman;
        font-size: 1em;
        font-weight: normal;
    }
    /* END MAIN */

    /* BEGIN FOOTER */
    footer
    {
        clear: both;
        padding: .1em .75em .1em .75em;
        background: lightblue; 
        background: -webkit-linear-gradient(lightblue, white); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(lightblue, white); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(lightblue, white); /* For Firefox 3.6 to 15 */
        background: linear-gradient(lightblue, white); /* Standard syntax */
    }

    footer p
    {
        font-family: Verdana, Arial;
        font-size: .75em;
    }
    /* END FOOTER */
    
