    * 
    {
        box-sizing: border-box;
    }
    
    p.error
    {
        color: red;
        font-weight: bold;
        font-size: 1.2em;
        text-indent: 0em;
    }
    
    p.info
    {
        color: blue;
        font-weight: bold;
        font-size: 1.2em;
        text-indent: 0em;
    }

    body
    {
        font-family: Times New Roman;
        font-size: 1em;
        font-weight: normal;
    }
    
    th
    {
        text-align: left;
    }
    
    .ui-widget 
    {
        font-family: Timers New Roman;
        font-size: .9em;
    }
    
    .form
    {
        display: table;
        table-layout: fixed;
        padding: 0.5em;
        margin: 0em 0em 1em 0em; 
        border: solid silver;
        border-collapse: collapse;
    }
    .form div
    {
        display: table-row;
        padding: 0.25em;
        vertical-align: top;
    }
    .form div div
    {
        display: table-cell;
        padding: .25em;
    }
    
    .form td
    {
        vertical-align: top;
    }
    
    .content
    {
        max-width: 45em;        
    }

    textarea
    {
        margin: 0;
    }
    
    input[type=submit]
    {
        min-width: 6em;
    }
    input[type=reset]
    {
        min-width: 6em;
    }
    input[type=button]
    {
    }
    #cmdReset
    {
        min-width: 6em;
    }

    .form_buttons input
    {
        font-weight: bold;
    }

    .form_buttons
    {
        border: solid silver;
        border-collapse: collapse;
        display: table;
    }
    
    .form_buttons div
    {
        display: table-row;
    }
    
    .form_buttons div div
    {
        display: table-cell;
    }

    .image-collections
    {
        clear: both;
    }
    
    .image-collections section
    {
        margin: .5em .5em 1em 0em;
        padding: 0em 0em 0em 0em;
    }
    
    .image-collections section ul
    {
        list-style: none;
        padding: 0;
    }

    .image-collections section ul li
    {
        padding: .5em .5em .5em .5em;
    }
        
    .research-collections
    {
        clear: both;
    }
    
    .research-collections section
    {
        margin: .5em .5em 1em 0em;
        padding: 0em 0em 0em 0em;
    }
    
    .research-collections section ul
    {
        list-style: none;
        border-style: none none solid none;
        padding: 0;
    }

    .research-collections section ul li
    {
        border-style: solid solid none solid;
        padding: .5em .5em .5em .5em;
    }

    .research-collections section ul li [data-prop-name="ID"] 
    {
        display: none;
    }

    /* BEGIN RESEARCH POS */
    .research-collections section .collection-title
    {
        margin: 2em 0em 0em .5em;
        font-family: Verdana, Arial;
        font-size: 1em;
        font-weight: bold;
    }
    .research-collections section ul li [data-prop-name="Title"] 
    {
        cursor: pointer; cursor: hand;     
        font-weight: bold;
        clear: both;
        width: 24em;
    }
    
    .research-collections section ul li [data-prop-name="ShortText"] 
    {
        cursor: pointer; cursor: hand;
        font-style: italic;
        width: 24em;
    }

    .research-collections section ul li [data-prop-name="Content"] 
    {
        display: none;
        font-size: .9em;
        width: 20em;
        margin: 0em 0em 0em 3em;
    }
    
    .research-collections section ul .collection-row:nth-of-type(odd)
    {
        background-color: lightyellow;
    }

    .research-collections section ul .collection-row:nth-of-type(even)
    {
        background-color: white;
    }

    /* END RESEARCH POS */
    .collections
    {
        clear: both;
    }
    
    .collections section
    {
        margin: .5em .5em 1em 0em;
        padding: 0em 0em 0em 0em;
    }
    
    .collections section ul
    {
        list-style: none;
        padding: 0;
    }

    .collections section ul li
    {
        padding: .5em .5em .5em .5em;
    }
    
    .collections section ul li [data-prop-name="ID"] 
    {
        display: none;
    }

    /* BEGIN ACADEMIC POS */
    .collections section ul li [data-prop-name="Period"] 
    {
        float: left;
        font-weight: bold;
        width: 6em;
    }
    
    .collections section ul li [data-prop-name="Position"] 
    {
        float: left;
        margin-left: 1em;
    }

    .collections section ul li [data-prop-name="Place"] 
    {
        clear: both;
        font-style: italic;
    }
    /* END ACADEMIC POS */

    /* BEGIN Education Training */
    .collections section ul li [data-prop-name="Degree"] 
    {
        float: left;
        font-weight: bold;
        width: 3em;
    }
    
    .collections section ul li [data-prop-name="Year"] 
    {
        float: left;
        font-weight: bold;
        width: 3em;
    }

    .collections section ul li [data-prop-name="Position"] 
    {
        float: left;
    }
    /* END Education Training */
    
    /* BEGIN honors */
    .collections section ul li [data-prop-name="Date"] 
    {
        float: left;
        font-weight: bold;
        width: 3em;
    }

    .collections section ul li [data-prop-name="Title"] 
    {
        float: left;
        text-align: left;
        margin-left: 1em;
    }

    .collections section ul li [data-prop-name="Detail"] 
    {
        clear: both;
        padding-left: 5em;
        font-size: .8em;
        max-width: 40em;  
    }
    /* END honors */
    
    .collections section .collection-title
    {
        margin: .5em .5em .5em .5em;
        font-family: Verdana, Arial;
        font-size: 1em;
        font-weight: bold;
    }
    
    .collections section ul .collection-row
    {
        clear: both;
    }

    .collections section ul .collection-row:nth-of-type(odd)
    {
        background-color: lightyellow;
    }

    .collections section ul .collection-row:nth-of-type(even)
    {
        background-color: white;
    }
   
    /* BEGIN COMMON */        
    a
    {
        color: blue;
        text-decoration: none;
    }

    a:active
    {
        color: lightblue;
    }

    a:hover
    {
        color: navy;
        text-decoration: underline;
    }

    a:visited
    {
        color: purple;
    }
    /* END COMMON */            

    /* BEGIN PARTS */  
    
    #organisationName
    {
        display: block;
        padding: .5em 8em 0.5em .5em;
        overflow: hidden;
        white-space: nowrap;
        font-family: Verdana, Arial;
    }
    /* END PARTS */

    /* BEGIN MAIN LAYOUT */
    #container
    {
        display: table;
    }

    #center
    {
        display: table-cell;
        vertical-align: top;
    }

    #footer
    {
        display: block;
    }
    /* END MAIN LAYOUT */

    #left-bar nav
    {
        padding: .75em 1em 5em 2em;
        background: lightblue; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(lightblue, white); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(lightblue, white); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(lightblue, white); /* For Firefox 3.6 to 15 */
        background: linear-gradient(lightblue, white); /* Standard syntax */
    }

    nav
    {
        list-style: none;
    }

    nav a
    {
        display: list-item;
        margin: 0em .5em .5em 0em;        
        color: navy;
        font-family: Verdana, Arial;
        font-size: 1.0em;
        font-weight: bold;
        text-decoration: none;
    }

    nav a:active
    {
        color: lightblue;
    }

    nav a:hover
    {
        color: blue;
        text-decoration: underline;
    }

    nav a:hover:visited
    {
        color: blue;
    }

    nav a:visited
    {
        color: navy;
    }

    .active-nav-item
    {
        list-style: disc;
        color: yellow;
    }

    .active-nav-item:visited
    {
        color: yellow;
    }
    /* END NAV */

    /* BEGIN MAIN */
    #center main
    {
        padding: 1em 1.5em 1em 1.5em;
    }

    main h1
    {
        font-family: Verdana, Arial;
        font-size: 1.2em;
        font-weight: bold;
    }

    main h2
    {
        font-family: Verdana, Arial;
        font-size: 1.1em;
        font-weight: bold;
    }

    main h3
    {
        font-family: Verdana, Arial;
        font-size: .9em;
        font-weight: bold;
        margin: 0.5em;
    }

    main p
    {
        text-indent: 2em;
        text-align: justify;
        font-family: Times New Roman;
        font-size: 1em;
        font-weight: normal;
        margin: 0;
    }
    /* END MAIN */

    /* BEGIN FOOTER */
    footer
    {
        clear: both;
        padding: .1em .75em .1em .75em;
        background: lightblue; 
        background: -webkit-linear-gradient(lightblue, white); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(lightblue, white); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(lightblue, white); /* For Firefox 3.6 to 15 */
        background: linear-gradient(lightblue, white); /* Standard syntax */
    }

    footer p
    {
        font-family: Verdana, Arial;
        font-size: .75em;
    }
    /* END FOOTER */
    
